@CHARSET "UTF-8";

#menudiv {
	position:absolute;
	width:399px;
	height:19px;
	z-index:1;
	left: 717px;
	top: 78px;
}

#menubar{

width:100%;
margin-right:0px;
margin-left:0px;
}

#menubar ul{
margin:0;
padding:0;
list-style-type:none;
}

#menubar li{
float:left;
list-style-type:none;
font-size:15px;
text-align:center;
margin:0px;
padding:0;
}

#menubar li a{
    color:#000000;
    text-decoration:none;   
    padding-top:0px;
    display:block;
    width:90px;
    height:22px;
    margin-left:2px;
}

#menubar li a:hover{   
    color:#0066FF
}
#titleDiv {
	position:absolute;
	width:1263px;
	height:115px;
	z-index:2;
	left: 0px;
	top: 0px;
	background-image:url(/SSH2/images/1243_190305073_2.jpg)
}
#title {
	position:absolute;
	width:317px;
	height:28px;
	z-index:2;
	left: 92px;
	top: 14px;
}
.STYLE1 {font-size: 36px;
text-shadow: 5px 5px 5px #0066FF;
}
#leftDiv {
	position:absolute;
	width:287px;
	z-index:3;
	left: 11px;
	top: 125px;
	background-color:#FFFFFF;
	
}
.type{
padding-left:0;
}
.type li{
list-style-type:none;
font-size:12px;
padding-top:10px

}
.type li a{
    color:#000000;
    text-decoration:none;   
    padding-top:0px;
    display:block;
    width:250px;
    height:30px;
	padding-left:20px;
    
	}
.type li a:hover{   
    color:#0066FF;
}
#article {
	position:absolute;
	width:940px;
	z-index:4;
	left: 310px;
	top: 126px;
	background-color:#FFFFFF;
}

.STYLE2 {font-size: 18px;
padding-left:10px
}
.STYLE3 {font-size: 12px;
padding-left:10px;
padding-right:10px
}
.STYLE4 {font-size: 12px;
padding-left:20px;
padding-right:10px
}
.time{font-size: 14px;
color:#0066FF;
padding-top:20px;
padding-left:25px;
border-top-color:#999999;
border-top-style:solid;

}

.title {
	font-size: 16px;
	font-weight: bold;
	padding-top:25px;
	padding-bottom:20px;
	padding-left:25px;
	
}
.title a{
    color:#000000;
    text-decoration:none;   
    display:block;
	}

.title a:hover{   
    color:#0066FF;
}
.summarry{
    font-size: 14px;
	padding-left:30px;
	padding-right:25px;
	padding-bottom:25px;
}
#pageDiv {
	position:absolute;
	width:162px;
	height:34px;
	z-index:3;
	left: 469px;
	top: 325px;
}

#foot p{font-size: 10px}